---
layout: base
---

<div data-pagefind-body data-pagefind-filter="section: Livres" class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <h1 class="gradient-text">Présentation du livre {{ title }}</h1>

<div class="tags-container">
{% for tag in tags %}
  <a href="/tags/{{ tag | slugify }}"><span slot="tag" class="button">{{ tag }}</span></a>
{% endfor %}
</div>

<p>Rédigé en {{page.date.toLocaleString( undefined, { year: 'numeric' })}}
</p>
<div>

    {% include 'partials/livre3D.njk' %}
  <div data-pagefind-ignore>
      {{ content | lettrine | safe }}
  </div>
  </div>
  <div>

<div class="flow prose">
<a class="button" href="{{liens_achat}}">Soutenez moi en achetant ce livre</a>
</div>
</div>
<style>

@layer global {
  h1 {
    font-size: var(--size-step-4) !important;
  }
}
    p.author_cr {
        text-align: right;
    }

    .image-left {
      float: left;
      margin-right: 15px;
    }

@media (min-width: 600px) {
  img {
    width: 30vw;
    height: auto;
  }
}
</style>
