---
layout: base
title: Comptes-rendus
description: 'All blog posts can be found here'
pagination:
  data: collections.allPosts
  size: 50
permalink: 'comptes-rendus/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <div class="full | section spot-color-theme-primary">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl-2xl)">
      <h1 class="text-center text-theme-light">{{ title }}</h1>
    </div>

    {% svg "divider/edgy", null, "divider" %}
  </div>

  <!--<div class="region flow prose" style="--region-space-top: var(--space-xl-2xl)">
    <p>Persuadés que trop d'essais ne trouvent pas le nombre de lecteurs qu'ils méritent, je crois à l'intérêt d'en publier des comptes-rendus afin de les faire connaître à un plus large public.
</p><p>
Mais plutôt que d'écrire de simples « annonces publicitaires » qui n'apprennent presque rien sur le contenu des ouvrages ou, à l'inverse, des études critiques qui ne sont compréhensibles que par ceux qui ont déjà lu les livres en question, je présente explicitement aussi simplement que possible certaines idées développées par les auteurs. Vous pourrez ainsi apprécier, par vous-mêmes, l'intérêt de ces ouvrages.
    </p>
  </div>-->
  <h2> Rechercher un compte-rendu </h2>
  <style>
  .search-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .search-main {
    gap: 1rem;
  }

  .search-sidebar {
    flex: 0 0 250px;
  }

  .search-results {
    flex: 1;
  }
  :root {
      --pf-input-height: 48px !important;
      --pf-input-font-size: 20px; /* Keep at 16px+ to prevent iOS auto-zoom on focus */
      --pf-outline-focus: #ff922b !important;
  }
  </style>
  <div style="display: grid; gap: 16px;">

<pagefind-modal-trigger></pagefind-modal-trigger>
<pagefind-modal></pagefind-modal>

    </div>


{% js "inline" %}
 {% include "scripts/search_cr.js" %}
{% endjs %}

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
<style>
.prose :is(p,li,dl,blockquote) {
    max-inline-size: none;
    text-wrap: pretty;
}
pagefind-modal-trigger {
  margin: 2rem 0;
  }

.space-top {
    margin:0 !important;
}
header {
  box-shadow: none;
  position:initial;
  top: 0px;
  z-index: 10;
  background-color: var(--color-bg);
}
</style>

{% js "inline" %}
 {% include "scripts/search_cr.js" %}
{% endjs %}
