---
title: Barre de recherche
permalink: /recherche/index.html
description: 'A list of sites based on / built with Eleventy Excellent. Add yours by submitting a pull request!'
layout: recherche
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
---

<hr>

<style>

pagefind-searchbox, pagefind-filter-dropdown
 {
    text-align: center;
}
</style>
